<section class="container-fluid">
<footer id="footer" class="bg-dark text-light pt-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 ">
          <div class="newsletter">
            <h4 class="text-light">Newsletter</h4>
            <p>
              Get our news & feeds. Enter your e-mail and subscribe to our
              newsletter.
            </p>

            <div class="input-group mb-3">
              <input
                type="text"
                class="form-control bg-light"
                placeholder="E-mail Address"
                aria-label="Recipient's username"
                aria-describedby="basic-addon2"
              />
              <div class="input-group-append">
                <button class="btn btn-outline-light" type="button">Go!</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <meta name="twitter:card" content="summary" />
          <h4 id="twitterContainer" class="text-light">Latest Tweets</h4>
          <img src="../assets/img/Twitter.PNG" />
        </div>
        <div class="col-lg-4 ">
          <div class="contact-details">
            <h4 class="pl-5" class="text-light">Contact Us</h4>
            <ul style="list-style: none;">
              <p>
                <i class="fas fa-map-marker-alt mr-2"></i
                ><strong>Address:</strong> 28 Km by Cairo / Alexandria Desert
                Road - 6 October - Building B148, Egypt
              </p>

              <p>
                <i class="fa fa-phone mr-2"></i><strong>Phone:</strong> (+202)
                353-55656
              </p>

              <p>
                <i class="fa fa-envelope mr-2"></i><strong>Email:</strong>
                <a href="mailto:ITIinfo@iti.gov.eg">ITIinfo@iti.gov.eg</a>
              </p>
            </ul>
          </div>
        </div>
        <div class="col-lg-2">
          <h4 class="text-light">Follow Us</h4>
          <ul class="social-icons">
            <div id="facebook" class="pl-2 pt-1 socialmedia">
              <a
                href="https://www.facebook.com/pages/iTi-Channel/133210566767751"
                ><i class=" fab fa-facebook-f"></i
              ></a>
            </div>
            <div id="twitter" class="pl-2 pt-1 socialmedia ">
              <a
                href="https://twitter.com/itichannel2"
                target="_blank"
                title="Twitter"
                ><i class="fab fa-twitter"></i
              ></a>
            </div>
            <div id="youtube" class="pl-2 pt-1 socialmedia">
              <a
                href="https://www.youtube.com/user/itichannel"
                target="_blank"
                title="Youtube"
                ><i class="fab fa-youtube"></i
              ></a>
            </div>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright pt-3 pb-3">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <p>© Copyright 2020 ITI All Rights Reserved</p>
          </div>
        </div>
      </div>
    </div>
  </footer>
</section>