<section class="about section-margin pb-xl-70">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-xl-6 mb-5 mb-md-0 pb-5 pb-md-0">
          <div class="img-styleBox">
            <div class="styleBox-border">
              <img
                class="styleBox-img1 img-fluid"
                src="./assets/img/banner/g1.png"
                alt=""
              />
            </div>
            <img
              class="styleBox-img2 img-fluid"
              src="./assets/img/banner/cat-post-2.jpg"
              alt=""
            />
          </div>
        </div>
        <div class="col-md-6 pl-md-5 pl-xl-0 offset-xl-1 col-xl-5">
          <div class="section-intro mb-lg-4">
            <h4 class="intro-title">About Us</h4>
            <h2>Who Are we?</h2>
          </div>
          <p>
            ITI - as its initiative to support freelancers in the technical
            fields- announces the availability of freelancing zones on its
            branches (You can find ITI's branches locations on our website here:
            http://www.iti.gov.eg) that provides free work spaces with internet
            connection including coaching and consultation services for new
            graduates and junior freelancers.
          </p>
          <!-- <a class="button button-shadow mt-2 mt-lg-4" href="#">Learn More</a> -->
        </div>
      </div>
      <br />
      <br />
      <br />
      <div class="row mt-4">
        <div class="col-md-6 pl-md-5 pl-xl-0 offset-xl-1 col-xl-5">
          <div class="section-intro mb-lg-4">
            <h2>Our Services</h2>
          </div>
          <p>
            • Shared Work-space for freelancers (ITI’s graduates and external
            freelancers), and for graduates working remotely as full-time
            developers for local or global clients.
          </p>
          <p>
            • Daily free discussion hour, for ideas sharing and business relations
            between expert and junior freelancers in the zone, and interaction
            among freelancers in work time is very limited to not affect senior
            freelancers’ time and work.
          </p>
          <p></p>
        </div>
        <div class="col-md-6 col-xl-6 mb-5 mb-md-0 pb-5 pb-md-0">
          <div class="img-styleBox">
            <div class="styleBox-border">
              <img
                class="styleBox-img1 img-fluid"
                src="./assets/img/banner/g1.png"
                alt=""
              />
            </div>
            <img
              class="styleBox-img2 img-fluid"
              src="./assets/img/banner/cat-post-2.jpg"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
  </section>
  