<div class="row m-0 p-0 bg-green">
    <div class="col-sm-4 mb-2 d-flex justify-content">
    </div>
    <div class="col-sm-4 mb-2 text-center ">
      <h3 >Add New Statistic Number</h3>
    </div>
    <div class="col-sm-4 mb-2 d-flex justify-content">
        
    </div>
    <!-- Text input-->
     <div  class="row" >
      <div class="form-group col-sm-12 d-flex justify-content">
        <label class="col-sm-2 control-label" for="Title">Statistic Number</label>
        <div class="col-md-10">
          <input  id="title" placeholder="Title" class="form-control input-md" 
            type="text" #Number  >
            
        </div>
      </div> 
      <!-- worker-->
      <div class="form-group col-sm-12 d-flex justify-content">
        <label class="col-sm-2 control-label" for="ZoneCapacity">Statistic Description</label>
        <div class="col-md-10">
          <input id="num_worker"  name="ZoneCapacity" placeholder="Number"
            class="form-control input-md" type="text" #Description >
        </div>
      </div> 
      <div class="col-sm-12"><button class="btn btn-primary my-3 btn-block"(click)="PushStatistic(Number.value,Description.value)" >Submit</button></div>
    </div>
  </div> 
  