<ul class="list-inline mt-5">
    <li class="list-inline-item"><a class="btn btn-primary" routerLink="/admin/Sponsor">change Home Banner</a></li>
    <li class="list-inline-item"><a class="btn btn-primary" href="">change freelancers Stories</a></li>
    <li class="list-inline-item"><a class="btn btn-primary" href="">change freelancers Opinons</a></li>
    <li class="list-inline-item"><a class="btn btn-primary" routerLink="StatisticNumberAdmin">change statistics</a></li>
    <li class="list-inline-item"><a class="btn btn-primary" routerLink="/admin/Sponsor">change sponsors</a></li>
    <li class="list-inline-item"><a class="btn btn-primary" routerLink="/admin/ZoneAdmin">change zones</a></li>
</ul>
<!-- <router-outlet></router-outlet> -->