<header class="header_area">
  <div class="main_menu">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container box_1620">
        <a class="navbar-brand logo_h" href="index.html"
          ><img
            style="width: 60px; height: 60px;"
            src="./assets/img/logo.jpg"
            alt=""
        /></a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <div
          class="collapse navbar-collapse offset"
          id="navbarSupportedContent"
        >
          <ul class="nav navbar-nav menu_nav ">
            <li class="nav-item active m-2">
              <a style="color: aliceblue;" class="nav-link" href="index.html"
                >Home</a
              >
            </li>
            <li class="nav-item m-2"><a class="nav-link" href="#">About</a></li>
            <li class="nav-item m-2"><a class="nav-link" href="#">Zones</a></li>
            <li class="nav-item m-2">
              <a class="nav-link" href="#">Statistics⁯ </a>
            </li>
            <li class="nav-item m-2"><a class="nav-link" href="#">Contact</a></li>
            <li class="nav-item m-2" *ngIf="role=='Admin'"><a class="nav-link" routerLink="/admin">Dashboard</a> </li>
          </ul>
          <ul class="nav navbar-nav menu_nav  ml-auto" *ngIf="!email">
            <li class="nav-item ml-auto "></li>
            <li class="nav-item">
              <a class="nav-link " routerLink="/register">Register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " routerLink="/login"> Login</a>
            </li>
            <li></li>
          </ul>

          <ul class="nav navbar-nav menu_nav  ml-auto" *ngIf="email">
            <li class="nav-item ml-auto "></li>
            <li class="nav-item" style="align-self: center;">
              <img [src]="imageUrl" width="50px;" height="50px;" class=" rounded-circle" alt="">
            </li>
            <li class="nav-item" style="align-self: center;">
              <span class="d-block ">{{userName}}</span>
            </li>
            <li>
              <a href="" class="btn btn-danger" (click)="onLogout()">Logout</a>
            </li>
          </ul>
          
        </div>
      </div>
    </nav>
  </div>
</header>