<section class="container-fluid">
<div class="row">
    <div
      class="col-md-12 text-center mt-3 mb-3"
      style="color: rgb(141, 31, 40);"
    >
      <h3>Technological paths</h3>
    </div>
    <div class="col-md-12 text-center mb-3">
      Learn the technology paths provided to you from the ITI platform,<br />
      which qualifies you for a specific job title
    </div>
    <div class="col-md-3 ">
      <img
        src="../assets/img/deeplearn-trackAR.png"
        class=" mr-2 mt-4"
        style="width: 100%;"
      />
      <img
        src="../assets/img/tracks images-15.jpg"
        class=" mr-2 mt-4"
        style="width: 100%;"
      />
    </div>
    <div class="col-md-3 mb-4">
      <img
        src="../assets/img/tracks images-17.jpg"
        class=" mr-2 mt-4"
        style="width: 100%;"
      />
      <img
        src="../assets/img/Cyber-trackAR2.png"
        class=" mr-2 mt-4"
        style="width: 100%;"
      />
    </div>
    <div class="col-md-3 mb-4">
      <img
        src="../assets/img/freelance-trackAR.png"
        class=" mr-2 mt-4"
        style="width: 100%;"
      />
    </div>
    <div class="col-md-3 mb-4">
      <img
        src="../assets/img/QAtrackAR.png"
        class=" mr-2 mt-4"
        style="width: 100%;"
      />
    </div>
  </div>
</section>